# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0

import /vendor/etc/init/hw/init.qcs8550.rc

on early-boot
    wait /dev/snd/controlC0 10

on property:persist.vendor.lineage.swap_face_buttons=*
    write /sys/devices/platform/soc@0/8c0000.geniqup/89c000.serial/89c000.serial:0/89c000.serial:0.0/serial1/serial1-0/swap_face_buttons ${persist.vendor.lineage.swap_face_buttons}
