# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0

import /vendor/etc/init/hw/init.odin2_common.rc

# Backlight
on early-boot
    chown system system /sys/class/backlight/pwm-backlight/brightness
    chown system system /sys/class/backlight/pwm-backlight/max_brightness
